@import "../utils/variable";
@import "../utils/mixin";

hero-section{
    display: block;
    width: 100%;
    background-color: $basecolor;
    margin-top: 4.75rem;

    .hero-container{
        margin: 0px auto;
        width: 100%;
        position: relative;

        @media (min-width:$desktop){
            width: $maxContainer;
        }

        .hero-content{
            position: absolute;
            inset: 0;
            z-index: 20;
            @include flexbox(column,center,center);

            .content{
              margin-bottom: 2rem;
                h1{
                    font-weight: 600;
                    font-size: 32px;
                    color: white;
                    filter: drop-shadow(1px 1px 2px rgba($darkerbase,0.5));
                    margin-bottom: 1.75rem;
                    text-align: center;
                    position: relative;
                    cursor: default;

                    &::before{
                        content: '';
                        position: absolute;
                        bottom: -0.75rem;
                        left: 7rem;
                        right: 7rem;
                        height: 0.25rem;
                        background-color: white;
                        transition: all .35s ease-in;
                    }

                    &:hover::before{
                        left: 5rem;
                        right: 5rem;
                    }
                }

                p{
                    color: white;
                    text-align: center;
                    margin-bottom: 0.25rem;
                    filter: drop-shadow(1px 1px 2px rgba($darkerbase,0.5));
                    // font-size: small;
                }
            }
        }

        .cta-to-list{
          @include flexbox(row,center,center);
          background-color: $secondarycolor;
          padding: 0px 1.25rem;
          height: 2.75rem;
          border-radius: 0.25rem;
          color:white;
          border: none;
          color: $basecolor;
          font-size: 1rem;
          font-weight: 600;
          text-decoration: none;
          cursor: pointer;

          &:hover{
            transition: all .35s ease-in;
            background-color: $darkersecondary;
            color:white;
          }

          &:focus{
            outline: 3px solid white;
          }
        }

        .hero-backdrop{
            position: absolute;
            inset: 0;
            z-index: 10;
            background-color: rgba($basecolor,0.5);
        }

        img{
            width: 100%;
            height: 500px;
            object-fit: cover;
            object-position: top;

            @media (min-width:$desktop) {
                height: 600px;
                object-position: center;
            }
        }
    }
}
