<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./images/logo_nusantara.png" type="image/x-icon">
    <title>Restaurant Apps</title>
  </head>
  <body>
    <header>
      <nav-bar></nav-bar>
      <!-- <nav>
        
      </nav> -->
    </header>
    <h1>Restaurant Apps Starter Project</h1>
    <p>Hallo coders! Anda berhasil menjalankan starter project.</p>
    <p>
      Jangan lupa untuk menggunakan salah satu gambar yang berada pada ./images/heros
      sebagai background hero elemen.asd
    </p>
    <p>assalamualaikum please bisa</p>
    <img src="./images/heros/hero-image_1.jpg" width="450" alt="" />
    <img src="./images/heros/hero-image_2.jpg" width="450" alt="" />
    <img src="./images/heros/hero-image_3.jpg" width="450" alt="" />
    <img src="./images/heros/hero-image_4.jpg" width="450" alt="" />
  </body>
</html>