@import "../component/navbar.scss";
@import "../component/hero.scss";
@import "../component/restaurant.scss";
@import "../component/copyright.scss";
@import "../component/modal-resto.scss";

*{
  font-family: 'Helvetica';
}

body{
    background-color: $basecolor;
    position: relative;

    main{
        .explore-list{
            margin-top: 3rem;
            padding: 1rem;
        }
    }

    footer{
        margin-top: 3rem;
    }
}
